@import "styles.css";

.buttons {
    width: 60%;
    height: 80px;
    padding: 8px;
}

#new_movie {
    max-width: 100%;
    height: 60px;
}

#new_movie button {
    width: 20%;
    height: 50px;
    border-radius: 8px;
    background-color: azure;
    border: none;
    font-weight: 700;
    font-size: 1em;
    color: red;
}

#new_movie button:hover {
    box-shadow: 2px 2px 5px black;
}

.movies-section {
    margin-top: 20px;
    padding: 5%;
    color: azure;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  li {
    width: 30%; 
    margin-bottom: 20px;
  }
  
  img {
    max-width: 50%;
    height: auto;
  }
  
  .button {
    margin-top: 2%;
    width: 50%;
    
  }

  button {
    width: 200px;
    height: 30px;
    color: red;
    font-weight: 600;
    background: azure;
    border: none;
  }

  button:hover {
    box-shadow: 2px 2px 5px black;
  }