<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MovieWeb App | User Movies</title>
  <link rel="stylesheet" href="/static/user_movies_style.css">
</head>
<body>
  <header>
    <!-- LOGO -->
    <div class="logo-header">
      <div class="logo-img">
        <img src="/static/images/MovieWebApp_logo_trans_bg.png" alt="Logo">
      </div>
        <div class="header-txt">
        <h1>MovieWeb App</h1>
      </div>
    </div>
    
    <nav class="navbar">
      <ul class="menu">
        <li><a class="active" href="/">HOME</a></li>
        <li><a href="/users">USERS</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="buttons">
      <div class="btn" id="new_movie">
        <a href="{{ url_for('add_movie', user_id=user['id']) }}"><button>ADD NEW MOVIE</button></a>
      </div>
    </div>
    
    <div class="movies-section">
      <h1>MOVIES LIST</h1>
      <h2>User: {{ user['name'] }}</h2>
      <br>
      <ul class="movies-list">
        {% for movie in user_movies %}
        <li class="movie-item">
          <img src="{{ movie.poster }}" alt="{{ movie.name }} Poster">
          <div class="movie-details">
            <p>Title: <strong>{{ movie.name }}</strong></p> 
            <p>Director: {{ movie.director }}</p> 
            <p>Year: {{ movie.year }}</p>
            <p>Rating: {{ movie.rating }}</p>
            <div class="button" id="delete-btn">
              <a href="{{ url_for('delete_movie', user_id=user['id'], movie_id=movie['id']) }}"><button>DELETE MOVIE</button></a>
            </div>
            <div class="button" id="update-btn">
              <a href="{{ url_for('update_movie', user_id=user['id'], movie_id=movie['id']) }}"><button>UPDATE MOVIE</button></a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </main>
  <footer>
    <nav class="navbar">
      <ul class="menu">
        <li><a class="active" href="/">HOME</a></li>
        <li><a href="/users">USERS</a></li>
      </ul>
    </nav>
    <hr>
    <div class="copyright">
      <p>&copy All right Reserved | 2023 | MovieWeb App</p>
    </div>
  </footer>

  <script src="/static/index.js"></script>
</body>
</html>